
    <a href="{{'documento'|page({id:7})}}">
        <div class="community-edition">

            <i class="fa fa-file-text"></i>
            <div class="separator"></div>
            <h4>Community Edition</h4>
            <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
            <div class="separator separator-long"></div>
            <div class="doc-icons clearfix">
                <i class="fa fa-comments-o" aria-hidden="true">
                    <span>12</span>
                </i>
                <i class="fa fa-calendar" aria-hidden="true">
                    <span>21/07/2017</span>
                </i>
            </div>

        </div>
    </a>
