<header id="home" class="home">
            <div class="overlay-fluid-block">
                <div class="container text-center">
                    <div class="row">
                        <div class="home-wrapper">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="home-content">

                                    <h1>La Politica è partecipazione<br/>esprimi la tua opinione</h1>
                                    <h4>Portale applicativo della legge 234/56</h4>

                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">

                                            <div class="features_buttom">
                                                <a href="" class="btn btn-default">INFORMATIVA SULLA LEGGE</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>