

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 15px;
    }
    .home-content h1 {
    font-size: 40px;
	}
	.signup-process .signup-details h5 {
    font-size: 21px;
	}
	.signup-process .signup-details .number li {
    font-size: 13px;

	}
	.community-edition{
		margin-bottom:20px;
	}
    .home-wrapper {
    overflow: initial;
}
.search-form {
    /*margin-top: 10px; */
    transform: scale(.65);
    right: 0;
    top: 10px;
}
}
/* Portrait tablets and small desktops */
@media  (max-width: 991px) {
    html {
        font-size: 80%;
    }
	.home-content h1 {
    font-size: 36px;
	}
   .heading-content h1 {
    font-size: 45px;
	}
	.signup-process .signup-icon {
    float: none;
	}
	.community-edition{
		margin-bottom:20px;
	}
	.signup-process .signup-details {
    float:none;
	}
    .home-wrapper {
    overflow: initial;
}
.search-form {
    margin-top: 70px;
   width: 100vw;
   text-align: center;
}
.sections {
    padding-top: 50px;
    padding-bottom: 60px;
}

}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    html {
        font-size: 70%;
    }
    .search-form {
        margin-left: -15px;
        margin-top: 45px;
    }
	/*.home-content h1 {
    font-size: 22px;
	}*/
	.navbar-default .collapse .login a {
    margin-left:0;
    width:22%;
	}
	.home-contact p {
    font-size: 14px;
	}
	.heading-content h1 {
    font-size: 28px;
	}
	.signup-process .signup-icon {
    float: none;
	}
	.community-edition{
		margin-bottom:20px;
	}
	.single_right_contact p{
	margin-top:25px;
	}
    .home-wrapper {
    overflow: initial;
}
#bs-example-navbar-collapse-1 {
    position: absolute;
    z-index: 99999999;
    top: 80px;
    max-width: 100%;
    background-color: rgba(230, 209, 97, 0.9);
    padding: 0 50px;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: 0;
}
#bs-example-navbar-collapse-1 ul li a {
    color: #000;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}
   
}



/* Landscape phones and smaller */
@media (max-width: 480px) {
    html {
        font-size: 60%;
    }
	/*.home-content h1 {
    font-size:13px;
	}*/
   .navbar-default .collapse .login a {
    margin-left: 0;
    width: 23%;
	}
	.social-wrapper .social-contact a {
    color: #fff;
    margin-right: 20px;
    float: left;
    margin-top: 10px;
	}
	.home-contact p {

    font-size: 8px;
	}
	.heading-content h1 {
    font-size: 16px;
	}
	.signup-process .signup-icon {
    float: none;
	}
	.signup-process .signup-details h5 {
    font-size: 23px;
    margin-left:0;
	}
	.signup-process .signup-details {
    float:none;
	}
	.community-edition{
		margin-bottom:20px;
	}
	.single_features_right h2 {
    font-size: 22px;
	}
	.single_features_right p {
    line-height: 24px;
	}
	.single_service_right p {
    line-height: 24px;
	}
	.single_service2 .single_service_right {
    width: 100%;
    padding-left:0;
	}
	.single_service_right h2 {
	margin-bottom: 15px;
	}

}



@media (max-width: 320px) {


    html {
        font-size: 50%;
    }
	.signup-process .signup-icon {
    float: none;
	}
	.community-edition{
		margin-bottom:20px;
	}
	.navbar-default .collapse .login a {
    width: 36%;
	}
	.social-icon{
		margin-left: 80px;
	}
	.social-wrapper .social-contact {
    margin-left: 52px;
	}
}

