/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 15px;
  }

  .home-content h1 {
    font-size: 40px;
  }

  .signup-process .signup-details h5 {
    font-size: 21px;
  }

  .signup-process .signup-details .number li {
    font-size: 13px;
  }

  .community-edition {
    margin-bottom: 20px;
  }

  .home-wrapper {
    overflow: initial;
  }
}
/* Portrait tablets and small desktops */
@media  (max-width: 991px) {
  html {
    font-size: 80%;
  }

  .home-content h1 {
    font-size: 36px!important;
  }

  .heading-content h1 {
    font-size: 45px;
  }

  .signup-process .signup-icon {
    float: none;
  }

  .community-edition {
    margin-bottom: 20px;
  }

  .signup-process .signup-details {
    float: none;
  }

  .home-wrapper {
    padding: 90px 0px!important;
  }

  .sections {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 70%;
  }
     
	/*.home-content h1 {
    font-size: 22px;
	}*/
  .navbar-default .collapse .login a {
    margin-left: 0;
    width: 22%;
  }

  .home-contact p {
    font-size: 14px;
  }

  .heading-content h1 {
    font-size: 28px;
  }

  .signup-process .signup-icon {
    float: none;
  }

  .community-edition {
    margin-bottom: 20px;
  }

  .single_right_contact p {
    margin-top: 25px;
  }

  .home-wrapper {
    overflow: initial;
  }
}



/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 60%;
  }
	/*.home-content h1 {
    font-size:13px;
	}*/
  .navbar-default .collapse .login a {
    margin-left: 0;
    width: 23%;
  }

  .social-wrapper .social-contact a {
    color: #fff;
    margin-right: 20px;
    float: left;
    margin-top: 10px;
  }

  .home-contact p {
    font-size: 8px;
  }

  .heading-content h1 {
    font-size: 16px;
  }

  .signup-process .signup-icon {
    float: none;
  }

  .signup-process .signup-details h5 {
    font-size: 23px;
    margin-left: 0;
  }

  .signup-process .signup-details {
    float: none;
  }

  .community-edition {
    margin-bottom: 20px;
  }

  .single_features_right h2 {
    font-size: 22px;
  }

  .single_features_right p {
    line-height: 24px;
  }

  .single_service_right p {
    line-height: 24px;
  }

  .single_service2 .single_service_right {
    width: 100%;
    padding-left: 0;
  }

  .single_service_right h2 {
    margin-bottom: 15px;
  }
}

@media (max-width: 320px) {


  html {
    font-size: 50%;
  }

  .signup-process .signup-icon {
    float: none;
  }

  .community-edition {
    margin-bottom: 20px;
  }

  .navbar-default .collapse .login a {
    width: 36%;
  }

  .social-icon {
    margin-left: 80px;
  }

  .social-wrapper .social-contact {
    margin-left: 52px;
  }
}

/* =============================
    NAVBAR TOGGLE BREAKPOINT
    ============================ */
@media (max-width: 1199px) {
  .navbar-header {
    float: none;
  }

  .navbar-left,.navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none!important;
  }

  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
    padding: 14px 0;
  }

  .header-btn {
    max-width: 101;
    margin: 10px auto;
      /* line-height: 130px; */
  }

  .collapse.in {
    display: block !important;
  }

  #bs-example-navbar-collapse-1 {
    position: absolute;
    z-index: 99999999;
    top: 80px;
    max-width: 100%;
    height: 60vh!important;
    background-color: rgba(230, 209, 97, 0.9);
    padding: 0 50px;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: 0;
  }

  #bs-example-navbar-collapse-1 ul li a {
    color: #000;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
  }

  .navbar-nav>li>.dropdown-menu {
    left: 0px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    line-height: }
.divider{
    display: none;
  }

  a.dropdown-toggle {
    display: inline-block;
    width: 60px;
    margin: 0 auto;
  }

  .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: transparent;
  }
}

