/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
    font-size: 15px;
    color: #565656;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.btn.extra-width {
    padding: 13px 40px;
}
.btn:focus,
.btn:active {
    outline: inherit;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}
p {
    margin: 0 0 15px;
}
.clear {
    clear: both;
}
/*ol,
ul {
    list-style: none;
    padding: 0;
}*/

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}
.form-control {
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    height: 45px;
}
.form-control:focus {
    border-color: #82ca9c;
}

h1,
h2,
h3 {

    font-weight: 300;
    margin: 0;
}
h4,
h5 {
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .9rem;
}
h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
}
h5 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}
p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}
p:last-child {
    margin-bottom: 0px;
}
/*.home-wrap h1,*/
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
    color: #ffffff;
}
.text {
    color: #333333;
}
.colorstext {
    color: #f56363;
}
.coloricon i {
    color: #f56363;
}
.colorsbg {
    background: #f56363;
    color: #ffffff;
}

.lightbg {
    background-color: #dcdcdc;
}
.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
/*
Section
*/
.sections {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
}
.sections2 {
    padding-top:40px;
    padding-bottom:40px;
    position: relative;
    overflow: hidden;
}
.sections.footer {
    padding-bottom: 80px;
}
section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
}
.parallax-section {
    max-width: 100%;
    color: #ffffff;
}
section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
    font-weight: 100;
    font-size: 12px;
}


.heading {
    margin-bottom: 4rem;
}
.overlay {
    /*background-color: rgba(0, 0, 0, 0.3);*/
    width: 100%;
    min-height: 750px;
}
.overlay-fluid-block {
    /*background-color: rgba(0, 0, 0, 0.15);*/
    width: 100%;
}
.home-overlay-fluid {
    /*background-color: rgba(41, 41, 41, 0.68);*/
    width: 80%;
    margin: auto;
}
.overlay-img {
    /*background: rgba(0, 0, 0, 0.3);*/
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;
}
.no-padding {
    padding: 0 !important;
}
.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}
/*
Separator
*/
.separator {
    height: 2px;
    width: 80px;
    margin: auto;
    background: #ededed;
}

/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled{
    color: #ffffff;
    background-color:#64c583;
    border-color: #f56363;
}
.btn-primary:hover {
    background-color:#64c583;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.728571;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    width: 200px;
    height: 50px;
    padding: 1em 6px;
}
 



.input-lg, .form-group-lg .form-control {
    height: 46px;
    width: 100%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius:0;
}
.btn-lg, .btn-group-lg>.btn {
    font-size: 18px;
    line-height: 26px;
    border-radius:0;
    background: #82ca9c;
    border: 0;
    padding: 10px 25px;
}
.input-group button a i{
    color:#fff;
}


/*
Extra height css
*/
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-top-80 {
    margin-top: 80px;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}
.padding-top-20 {
    padding-top: 1.33rem;
}
.padding-bottom-20 {
    padding-bottom: 1.33rem;
}
.padding-top-40 {
    padding-top: 2.66rem;
}
.padding-bottom-40 {
    padding-bottom: 2.66rem;
}
.padding-top-60 {
    padding-top: 5rem;
}
.padding-bottom-60 {
    padding-bottom: 5rem;
}
.padding-bottom-0 {
    padding-bottom: 0;
}
/*padding*/
.padding-twenty {
    padding: 10px 0;
}
.padding-fourty {
    padding: 20px 0;
}
.padding-sixty {
    padding: 30px 0;
}
.padding-eighty {
    padding: 40px 0;
}
h1 span {
    color: #f56363;
    font-weight: 400;
}

/*for placeholder changes*/

input::-webkit-input-placeholder {
    color: #CACACA;
    font-size: 12px;
    padding-top:2px;
}
input::-moz-placeholder {
    color: #CACACA;
    font-size: 12px;
    padding-top:2px;
}
input:-ms-input-placeholder {
    color: #CACACA;
    font-size: 12px;
    padding-top:2px;
}
textarea::-webkit-input-placeholder
{
    color: #CACACA;
    font-size: 12px;
    padding-top:2px;

}
textarea::-moz-input-placeholder
{
    color: #CACACA;
    font-size: 12px;
    padding-top:2px;
}
textarea::-ms-input-placeholder
{
    color: #CACACA;
    font-size: 12px;
    padding-top:2px;
}


/*for image bg*/


/*.img-bg{
  background: url(../images/home-msg.jpg) no-repeat center top fixed;
   background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  overflow: hidden;
}*/

/*For Our Global CSS*/
.heading-content h1{
    font-size:48px;
    margin-bottom:40px;
}

.header-dropdown {
    z-index: 100000;
}
.home-content {
    z-index: 1;
}

/*For Menu Style*/
.navbar-default {
    background-color: #EF4123;
    height: 100px;
    margin-bottom: 0;
    border: none;
	border-radius: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #82ca9c;
    background-color:transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size:14px;
}
.navbar-default .navbar-nav>li>a.btn { 
     font-weight:normal;  
    max-width: 100px;
    max-height: 32px;
    line-height: 5px;
    border-radius: 2px;
    margin-left: 5px;
    color: #000;
    margin-top: 8px;
}
.navbar-default .navbar-nav>li>a.btn:hover{
    color: #ededed;
    background-color: #777;
}
 
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #82ca9c;
    background-color: transparent;
}
.navbar-brand{
    margin-top:-5px;	
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 29px;
     }
#bs-example-navbar-collapse-1 {
    margin-top: 20px;
}

.search-form {
    /*position: absolute;*/
}
.navbar-toggle {
    margin-top: 28px;
    position: absolute;
    right: 20px;
}
.navbar-form{
    border: none;
    box-shadow: none;
}

.dropdown>.btn-default {
    width: 40px;
    height: 40px;
    background-color: transparent;
    padding: 0;
    margin: 6px 0 6px 12px;
    font-size: 16px;
}


/*For Home Section*/
.home{
    background:url(../images/header.jpg) no-repeat center center;
    color:#000;
    height: 600px;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
}
.home-wrapper{
    padding:180px 0px;
    overflow:hidden;
}
.home-content h1{
    font-size: 64px;
    font-weight:300;
    margin-bottom: 30px;
    color: #fff;
    letter-spacing: 3px;
    line-height: 64px;
    text-shadow: 0 2px 9px rgba(0,0,0,0.80);
}
.home-content h4{
font-size: 24px;
color: #FFFFFF;
letter-spacing: 0;
line-height: 24px;
text-shadow: 0 2px 9px rgba(0,0,0,0.80);
    margin-top: 92px;
}
.home-content p{
    margin-bottom: 30px;
    color: #fff;
}
.home-content .home-contact{
    margin-top: 90px;
}

.home-contact .input-group{display: block;}
.home-content .input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 65%;
    margin-bottom: 0;
    height: 60px;

}
.home-content .home-contact input[type="text"]{
    color:#82ca9c;
}
.home-content .home-contact input[type="submit"]{
    display:inline-block;
    width:35%;
    background:#82ca9c;
    color:#fff;
    border: 0px;
}
.home-content .home-contact input[type="submit"]:hover{
    background-color: rgba(0, 173, 62, 0.75);
}
.home-contact p{
    margin-top: 20px;
    color:#000;
    font-size:15px;
}
.form-control {
    border: 1px solid #DEDEDE;
    height:45px;
    border-radius: 0px;
    margin-right: -3px;
}
.head_title {
    margin-bottom: 40px;
}
.head_title p {
    max-width: 55%;
    margin: 10px auto;
    padding-bottom: 20px;
}

/* features  section */

.single_features_left img{
    height:460px;
}
.single_features_right {
    margin-top:10%;
}

.single_features_right h2 {
    margin-bottom: 40px;
    font-size:40px;
    color:#222222;
}

.single_features_right p{
    font-size:18px;
}
.single_features_right ul li{
    font-size:18px;
    margin-top:3%;
}

/* Service2 Section */
.service2{}
.service_content{
    width: 90%;
    margin: 0 auto;
}

.single_service2{
    margin-top: 90px;
}
.single_service_left{
    display: inline-block;
}
.single_service2 img{
    width: 70px;
    margin-top: -70px;

}

.single_service2 .single_service_right{
    display: inline-block;
    width: 70%;
    padding-left: 20px;
    overflow: hidden;
}
.single_service_right h2{

    font-size:24px;
    text-transform:uppercase;
    color:#222222;
    margin: 0;
}
.single_service_right p{
    font-size:18px;
    color:#777777;
}



.fa-check-circle{
    color:#82ca9c;
}
.fa-remove{
    color:red;
}

/*For portfolio Section*/
.portfolio{
    /*background: url(../images/bg.png) no-repeat top center fixed;*/
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -ms-background-size:cover;
    width: 100%;
    overflow: hidden;
}

.community-edition{
    background:#fff;
    padding: 40px 15px 20px;
    border:1px solid #ececec;
    box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -webkit-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -moz-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -o-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -ms-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    transition:.3s ease-in-out;
    -moz-transition:.3s ease-in-out;
    -webkit-transition:.3s ease-in-out;
}
.community-edition:hover{
    background:rgba(81, 143, 245, .75);
    color:#fff;
}
.community-edition:hover i {
    color:#fff;
}
.community-edition:hover h4 {
    color:#fff;
}
.community-edition:hover p {
    color:#fff;
}

.community-edition i{
    font-size:60px;
    color:#518ff5;
    margin-bottom: 20px;
}
.community-edition h4{
    font-size:16px;
    color:#000;
    text-transform:uppercase;
    font-weight:600;
    letter-spacing:1px;
    margin-top:15px;
}
.community-edition p{
    font-size:12px;
    color:#777777;
}
.portfolio-wrapper2{
    margin-top:25px;
}

/* Contact Section */

.contact_content{
    width: 80%;
    margin: 50px auto;
}
.single_left_contact p{
    font-family:'titillium_weblight';
    font-size:18px;
}

.single_right_contact .contact_address span{
    font-size:18px;
    display:block;
    line-height: 30px;
}
.single_right_contact .contact_socail_bookmark{
    margin-left:-15px;
    margin-top:20px;
}
.single_right_contact .contact_socail_bookmark a {
    margin-left:15px;
    transition:.5s;
}
.single_right_contact .contact_socail_bookmark a i{
    color:#222222;
    border:1px solid #777777;
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    border-radius:50%;
}
.single_right_contact .contact_socail_bookmark a:hover i{
    color:#8a3b6a;
    border:1px solid #8a3b6a;
}



/*For Footer Menu Section*/

.footer-menu{
    background:#000; 
    height: 168px;
    display: flex;
    align-items: center;
}
.menu-item{
    margin-bottom:20px;
}
.menu-item h5{
    font-size:16px;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
}
.menu-item p{
    font-size:12px;
}
.menu-item ul li{
    font-size:13px;
    text-transform:uppercase;
    font-family: 'Roboto', sans-serif;
    margin-bottom:10px;
    font-weight: 300;
}

.menu-item .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 65%;
    margin-bottom: 0;

}
.menu-item input[type="text"]{
    color:#82ca9c;
}
.menu-item input[type="submit"]{
    display:inline-block;
    width:35%;
    background:#82ca9c;
    color:#fff;
    border:0px;
}
.menu-item input[type="submit"]:hover{
    background-color: rgba(0, 173, 62, 0.75);
}

/*For Footer Section*/
.footer{
    background-color: #EF4123;
    color:#000;
    height: 78px;
    display: flex;
    align-items: center;
}
.footer-wrapper{
    padding:20px 0px;
    display:block;
}
.footer-brand{
    float:left;
}
.copyright{
    text-align:center;
    color: #fff;
}
.copyright p{
    font-size: 1.125rem;
    margin-bottom: 1px;
    padding: 20px 0px;
}
.copyright p a{
    color:#fff;
}
.logo-banner {
    display: flex;
    justify-content: center;
}


/*scollup icon*/

.scrollup {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 10;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}
.scrollup:hover {
    background: #82ca9c;
    opacity: 1;
}
.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}

/* Home custom styles */
.description_container>p {
    margin-top: 40px;
}

.description_container>h2>span{
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 4px;
}
.community-edition {
    margin-top: 30px;
}
 
@media screen and (min-width:768px){ 
    .rightside-txt {
            padding: 0 0 0 6em;
    }
}
@media screen and (max-width:767px){ 
    .rightside-txt {
    padding-top: 50px;
 }
}
.btn-altro{
    color: #fff;
    background-color: #f23a2b;
    border-radius: 30px;
    margin-top: 60px;
    width:184px;
    height: 63px;
}

#service {
    padding-top: 30px;
}
#service > .container > .row{
    margin-top: 50px;
}

.breadcrumb{
    margin-bottom: 20px;
    background-color: rgba(255,255,255,0);
}
.form-control-submit-image-el {
    height: 40px;
    margin-left: -45px;
}
.form-control-submit-el {
    background-color: transparent;
    border: none;
    left: 0px;
    z-index: 1100;
    right: 0px;
    margin-top: 0px;
    margin-left: 0px;
    display: inline-block;
    float: right;
    height: 35px;
    padding-top: 4px;
}
.form-control-search-el {
    border-radius: 25px;
    border: 2px solid #e7e7e7;
    height: 48px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    min-width: 300px;
    float: left;
}

.separator-long{
    width: 100%;
}

.doc-icons{
    padding-top: 1em;
}
.doc-icons>i{
    font-size: 1.2em; 
    float: left;
    margin-left: 2em; 
    margin-bottom: 0;
}
.doc-icons>i>span{
    font-size: 12px;
    padding-left: 6px;
}


/*  Signup page */

.respond {
    padding: 50px 0;
	    color: #000;
}
.respond>form button {
    background-color: #EF4123;
    color: #fff;
    width: 70px;
    padding: 0;
    height: 40px;
    border-radius: 5px;
}
.respond>form button:hover {
    background-color: #EF7000; 
    color: #fff;
    box-shadow: 1px 1px 8px  #ef4100;
}

.respond>form input{
    border-radius: 5px;
}

.greysh {
    background-color: #717171;
}

/*  Login page */
label.light{
    font-weight: 300;
    margin-bottom: 15px;
}

.main-cover {
    height: 100%;
    width: 100%;
    background-color: rgba(206, 171, 37, 0.73);
    position: absolute;
    left: 0;
    top: 0;
}

.form-links a{
 margin-top: 15px; 
 
 display: inline-block;   
}
.form-links a:first-child,.form-links a:nth-child(3){
    color: #000;
}
.form-links a:nth-child(5),.form-links a:nth-child(7){
    display: inline-block;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 11px;
    font-size: 11px;
    line-height: 11px;
    
}

.form-links a:nth-child(5) {
    
    background: #3b5998;
}    
.form-links a:nth-child(7) {
    
    background: #a83c3a;

}  

/* Domiciliazioni/Interventi page*/
.domicili,.interventi{
    margin: 50px 0;
    min-height: 350px;
}
.domicili .panel-title,.interventi .panel-title{
    font-weight: bold;
    text-transform: uppercase;
}

.domicili .panel-body,.interventi .panel-body{
    overflow-x: scroll;
}
 
.header-btn>a {
    color: #000!important;
    background-color: #fff;
    display: inline-block;
    height: 36px;
    line-height: 8px!important;
    margin-left: 5px;
    border-radius: 5px;
    font-weight: 400;
    position: relative;
    top: 10px;
}

/* Contatti page*/
.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	}

 /* Documento page */
 * {
    margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

a {
   color: #03658c;
   text-decoration: none;
}

ul {
   list-style-type: none;
}

body {
   font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
   background: #dee1e3;
}

/** ====================
* Lista de Comentarios
=======================*/
.comments-container {
   margin: 60px auto 15px;
   width: 768px;
}

.comments-container h1 {
   font-size: 36px;
   color: #283035;
   font-weight: 400;
}

.comments-container h1 a {
   font-size: 18px;
   font-weight: 700;
}

.comments-list {
   margin-top: 30px;
   position: relative;
}

/**
* Lineas / Detalles
-----------------------*/
.comments-list:before {
   content: '';
   width: 2px;
   height: 100%;
   background: #c7cacb;
   position: absolute;
   left: 32px;
   top: 0;
}

.comments-list:after {
   content: '';
   position: absolute;
   background: #c7cacb;
   bottom: 0;
   left: 27px;
   width: 7px;
   height: 7px;
   border: 3px solid #dee1e3;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
   content: '';
   width: 60px;
   height: 2px;
   background: #c7cacb;
   position: absolute;
   top: 25px;
   left: -55px;
}


.comments-list li {
   margin-bottom: 15px;
   display: block;
   position: relative;
}

.comments-list li:after {
   content: '';
   display: block;
   clear: both;
   height: 0;
   width: 0;
}

.reply-list {
   padding-left: 88px;
   clear: both;
   margin-top: 15px;
}
/**
* Avatar
---------------------------*/
.comments-list .comment-avatar {
   width: 65px;
   height: 65px;
   position: relative;
   z-index: 99;
   float: left;
   border: 3px solid #FFF;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   box-shadow: 0 1px 2px rgba(0,0,0,0.2);
   overflow: hidden;
   border-radius: 50%;
}

.comments-list .comment-avatar img {
   width: 100%;
   height: 100%;
}

.reply-list .comment-avatar {
   width: 50px;
   height: 50px;
}

.comment-main-level:after {
   content: '';
   width: 0;
   height: 0;
   display: block;
   clear: both;
}
/**
* Caja del Comentario
---------------------------*/
.comments-list .comment-box {
   width: 680px;
   float: right;
   position: relative;
   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
   box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
   content: '';
   height: 0;
   width: 0;
   position: absolute;
   display: block;
   border-width: 10px 12px 10px 0;
   border-style: solid;
   border-color: transparent #FCFCFC;
   top: 8px;
   left: -11px;
}

.comments-list .comment-box:before {
   border-width: 11px 13px 11px 0;
   border-color: transparent rgba(0,0,0,0.05);
   left: -12px;
}

.reply-list .comment-box {
   width: 610px;
}
.comment-box .comment-head {
   background: #FCFCFC;
   padding: 10px 12px;
   border-bottom: 1px solid #E5E5E5;
   overflow: hidden;
   -webkit-border-radius: 4px 4px 0 0;
   -moz-border-radius: 4px 4px 0 0;
   border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
   float: right;
   margin-left: 14px;
   position: relative;
   top: 2px;
   color: #A6A6A6;
   cursor: pointer;
   -webkit-transition: color 0.3s ease;
   -o-transition: color 0.3s ease;
   transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
   color: #03658c;
}

.comment-box .comment-name {
   color: #283035;
   font-size: 14px;
   font-weight: 700;
   float: left;
   margin-right: 10px;
}

.comment-box .comment-name a {
   color: #283035;
}

.comment-box .comment-head span {
   float: left;
   color: #999;
   font-size: 13px;
   position: relative;
   top: 1px;
}

.comment-box .comment-content {
   background: #FFF;
   padding: 12px;
   font-size: 15px;
   color: #595959;
   -webkit-border-radius: 0 0 4px 4px;
   -moz-border-radius: 0 0 4px 4px;
   border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
   content: 'autor';
   background: #03658c;
   color: #FFF;
   font-size: 12px;
   padding: 3px 5px;
   font-weight: 700;
   margin-left: 10px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

/** =====================
* Responsive
========================*/
@media only screen and (max-width: 766px) {
   .comments-container {
       width: 480px;
   }

   .comments-list .comment-box {
       width: 390px;
   }

   .reply-list .comment-box {
       width: 320px;
   }
}