title = "documento" 
url = "/documento/:id" 
layout = "default" 
is_hidden = 0 
==

<main>
    <div class="container-fluid  doc-header">

        <div class="container ">
            <div class="row">

                <div class="col-xs-6 left-side">
                    <div class="logo-small" style="background:url({{'assets/images/cz_logo.png'|theme}}) center;background-size:cover;"></div>
                    <h4>Comune di
                        <br>
                        <span style="font-weight: 500;font-size: 36px;">CATANZARO</span>
                    </h4>
                </div>

                <div class="col-xs-6 right-side">
                    <h3>REGOLAMENTO TRASFERTE DEGLI<br/>AMMINISTRATORI</h3>
                    <span>
                        <i class="fa fa-file-text"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% partial 'breadcrumb/default' %}
        <div class="row">
            <!-- Right side -->
            <div class="col-md-8">
                <div class="doc-icons">
                    <p>
                        <span>
                            <i class="fa fa-clock-o" aria-hidden="true"></i>10 SEP 2017</span>
                        <span>
                            <i class="fa fa-comments-o" aria-hidden="true"></i>
                            5 Interventi</span>
                        <span>
                            <i class="fa fa-download" aria-hidden="true"></i>
                            2 Download</span>
                    </p>
                </div>

                <h3>DESCRIZIONE</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="comments-container">
                    {% for i in 0..2 %}
                        <div class="article-parent">
                            {% partial 'docWithComment/default'%}
                        </div>
                        {% for i in 0..1 %}
                            <div class="article-child">
                                {% partial 'docWithComment/default'%}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            
            <!-- End right side -->

            <!-- Left side -->
            <div class="col-md-4">
                <h2>REGOLAMENTO TRASFERTE DEGLI AMMINISTRATORI</h2>
                <div class="article-list ">
                    {% for i in 0..5 %}
                        <h3>
                            <i class="fa fa-file-text"></i>Article name</h3>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum ex eget porttitor sollicitudin.
                        </h5>
                        <div class="clear"></div>
                        <hr>
                    {% endfor %}
                </div>

                <!-- Altri doc -->

                <h4>ALTRI DOCUMENTI</h4>

                <div class="col-xs-12 text-center ">
                    {% for i in 0..5 %}
                        <div class="small-doc">
                            {% partial 'documentoBox/default' %}
                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>
    </div>
</main>